body{
    background-image: url(gg.jpg);
   
}
.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    margin: auto;
    border: 3px solid black;
    font-weight: bolder;
    font-size: 40px;
    color: black;
    margin-top: 20%;
    border-radius: 10px;
    background-color:white ;
    background-image: url(yoga.png);
    
}

h4{
    height: 2px;
    color: black;
    
    margin: 30px;
    margin-bottom: 60px;
    
    
    /* display: none; */
}

h5{
    color: white;
    height: 1px;
    margin: 30px;
    animation: color 2s ease-in 0.3s infinite alternate;
    display: none;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* border: 2px solid black; */
    width: 190px;
    margin-top: 25px;
    margin-bottom: 20px;

}

.play{
    background-color: green;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
}

.play:hover{
    font-size: 16px;
    
}

.play:focus{
color: black;
}

.reset{
    background-color: red;
    color: white;
    transition: 0.3s;
    border-radius: 5px;


}

.reset:hover{
    font-size: 16px;
    border-radius: 5px;

}

.reset:focus{
    color: black;
}

.rese{
    background-color: blue; 
    color: white;
    transition: 0.3s;
    border-radius: 5px;


}

.rese:hover{

    font-size: 16px;
}
.rese:focus{
    color: black;
}

h3{
    color: palevioletred;
    animation: show 1s ease-in 0.3s infinite alternate;

}

img{
    text-align: left;
}

.name{
    text-align: center;
    
}

.rotate{
    
    animation: swing 1s ease-in  infinite ;
    
}

i{
    cursor: pointer;
    transition: .3s;
}
i:hover{
     font-size: 18px;
     color: green;
}
p{
    font-size: 20px;
}

@keyframes color {
    to{
        color: black;
    }
}

@keyframes show {
    to{
        color: orange;
    }
}

@media only screen and (max-width:300px) {
   
    .timer{
        width: 1080px;
        height: 2400pxx;
        background-image: url(yoga.png);
    }
    
    
}

@keyframes swing {
    to{
        transform: rotate(360deg);
    }
    
}